body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: auto;
    background-color: #ECF0F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


video {
    border: 2px solid #333;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #000;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #808080;
}
